body { font-family: Calibri, sans-serif; background-image: url("images/sudo.jpg");}
    #container { text-align: center }
    table { border-collapse: collapse; font-size: 2em; margin: 0 auto; }
    colgroup, tbody { border: solid medium; }
    td { border: solid thin; height: 1.4em; width: 1.4em; text-align: center; padding: 0; }
    button { margin-top: 15px; font-size: 1.5em; }
    
    padd{padding-bottom: 100px;}